@page
@{
    ViewData["Title"] = "About";
}
<style>
    .center{
        text-align:center;
    }
    p{
        text-align:left;
    }
</style>

<h1>About</h1>

<p>Here are some of our favorite drinks that we like to make. Take a look! You have got to try some of them for yourself. Since it is something that can be done with ease at home, we thought that we could share some of our favorite mixes with you all.</p>

<div class="container">
    <div class="row">
        <div class="col-6 justify-content-center center">
            <img src="~/images/Admin meme.png" class="rounded-circle" width="200" height="200" />
            <p>Hey everyone my name is Brock! Ever since quarentine hit, I have learned that I love making drinks and wanted to start something that a lot of people could relate to. Some of my favorite drinks are Moscow Mules and Whiskey. There are so many other things that I love.</p>
        </div>
        <div class="col-6 justify-content-center center">
            <img src="~/images/Admin meme.png" class="rounded-circle" width="200" height="200" />
            <p>Heyo! My name is Charlie. I am in the same boat as Brock, since quarenting happened we both just fell in love with being able to make drinks and the variety of things you can do. Some of my favorite drinks are, Moscow Mules, Rum and Coke (very simple, I know, but very good), Dark and Stormy or Rum Mule, Vodka Lemonade (again very simple but very good), and many more! We are still trying new drinks when ever we can.</p>
        </div>
    </div>
</div>