@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>This site consists of people who just love to make drinks. We will make sure to bring you along for the ride. Showing you every step of the way!</p>
</div>
